@model atempt21.Models.userTable

@{
    ViewData["Title"] = "testing stuff// a good ol sign in ";
}

<h1> IM trying something out </h1>
<body>
    <form asp-controller="TestController" asp-action="TestView" method="post">
        <p>houd on try siginnin in buddy </p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Surname" placeholder="Surname" required>
        <input type="text" name="Password" placeholder="Password" required>
        <input type="text" name="Email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>

    </form>
</body>
<p> this is the first oone </p>
