
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<style>
    .h2{
        margin:30px;
        background-color: cadetblue;
        width: 1000px;
        height: 300px;
        font-family:'Poor Richard';
        font-size: 10px;
    }
</style>

<body>
    <dive class= "container">
        <h2>Welcome to our site of crafted items. Please enjoy !</h2>
        <h3> we are an ecommerce site in which artisians create a profile to sell their products</h3>

    </dive>
</body>

