
@{
    ViewData["Title"] = "My Work";
}

<h1>My Work</h1>






<head>
    <meta charset="UTF-8">

    <title>KhumaloCraft - My Work</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 1o;
            padding: 10;
            background-color: fuchsia;
            border-color: red;
            border-radius: 10px; 
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1, h2 {
            margin: 10px 0;
        }

        .feild {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 40px;
            background-color :aqua;
            align-items:center;
        }

        .Info{
            min-height: 70px;
            max-width: 1200px;
            background-color: antiquewhite;
            font-family:'Myanmar Text';
            border-width: 10px;
            border-color: black;

        }

        .artwork {
            display: flow;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            text-align: center;
            align-items:center
        }

        .artwork-item {
            width: 50%;
            margin-bottom: 20px;
            background-color: pink;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            .artwork-item img {
                width: 50%;
                border-radius: 5px;
            }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to KhumaloCraft</h1>
        <h2>Explore our Collection</h2>
    </header>



    <div class="feild">


        <div class= "Info">
            <h3>What we do</h3> 
            <p>we are an eccommercer business that sells products made by artisians</p>
            
        </div>
        


            <div class="artwork-item">
                <img src="~/img/jersy.jpg" alt="">
                <h3>Jersy</h3>
                <p>A genuine hand made Jersy</p>
                <p>Price: R1000</p>
            </div>



            <div class="artwork-item">
            <img src="~/img/dog.png" alt="">
                <h3>Dog houses</h3>
                <p>Localy made dog houses</p>
                <p>Price: R12000</p>
            </div>



            <div class="artwork-item">
            <img src="~/img/door.jpg" alt="">
                <h3>Doors</h3>
                <p>Locally made Doors</p>
                <p>Price: $80</p>
            </div>
            <!-- Add more artwork items as needed -->
        
    </div>
</body>
</html>

